h1{color: aliceblue;}
.cont{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: aliceblue;
    padding: 30px;
}
.cardProyetos{
    width: 24rem;
}
@media (max-width: 991px){
.cont{
    display: flex;
    flex-direction: column;
    
}
.cardProyetos{
    width: 100%;
}
}
