h1 {
    color: aliceblue;
}

.cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #f0f8ff;
    padding: 30px;
    justify-content: space-around;
    flex-wrap: wrap;

}

.cardProyetos {
    width: 40%;
    padding: 10px;
}
.nametech{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 10px;
   
}
.rounded-pill {    
   
    margin: 0px 5px 5px 0px;
}
@media (max-width: 991px) {
    .cont {
        display: flex;
        flex-direction: column;
    }

    .cardProyetos {
        width: 100%;
    }
    .nametech{
        display: flex;
        
        flex-direction: column;
        padding: 10px;
       
    }
}