.aboutMe{
    width: 100%;
    
    color: aliceblue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;


}
.aboutMe img{
border-radius: 50%;
width: 20%;
}
.quien{
    width: 70%;
}
@media (max-width: 991px) {
    .aboutMe {
      height: 100vh;
      flex-direction: column;
    
    }
    
  }
  
  @media (max-width: 768px) {
    .aboutMe{
        height: max-content;
    }
    .aboutMe h1 {
      font-size: 28px;
      line-height: 36px;
    }
  
    .aboutMe h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
  
}
  
  @media (max-width: 375px) {
    .aboutMe{
        height: max-content;
    }
    .aboutMe  img {
      display: none;
    } 
  
   
   
  }
 

  
  